@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
}

.webtitle {
    text-align: center;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}